<html>
<head>
	<style>

body{
   background-image:url("/assets/img1.jpg");
   background-repeat: no-repeat;
   background-size: cover;	
}

</style>
</head>
<body>

<% if current_user %>
Logged in as <%=current_user.email%>
<%=link_to"Log Out",controller:"sessions",action:'destroy'%>
<%else%>
<br>

<center><p><h1>Welcome to our Cafeteria </h1> </p></center>

<div style="width: 100px; float:left; height:50px; background:yellow; margin:10px">
<h3><%=link_to"Sign Up",controller:"users",action:'new'%></h3>
<br>
</div>
<div style="width: 100px; float:left; height:50px; background:yellow; margin:10px">
<h3><%=link_to"Log In",controller:"sessions",action:'new'%></h3>
<br>
<%end%>

<p id='notice'><%=notice%></p>
<br>
</div>
</body>
</html>

